---
import Card from '../Card.astro';



export interface Props {
  title: string;
  posts: Object;
  page: Object;
  url?: string;
}

const { title, posts, page, url } = Astro.props;
---

<div class="bg-skew bg-skew-light">
  <div class="container py-4">
    <astro-heart>
      <textarea name="inputPane"></textarea>
      <textarea disabled name="outputPane"></textarea>
    </astro-heart>
  </div>
</div>

<script>
  // Define the behaviour for our new type of HTML element.
  class Translator extends HTMLElement {
    constructor() {
      super();

      const inputPane = this.querySelector("textarea[name='inputPane']");
      const outputPane = this.querySelector("textarea[name='outputPane']");


      // Each time the button is clicked, update the count.
      inputPane.addEventListener('keydown', function(e) {
        const inputText = e.key;
        outputPane.value += inputText;
      });
    }
  }
  // Tell the browser to use our AstroHeart class for <astro-heart> elements.
  customElements.define('astro-heart', Translator);
</script>
